{% extends 'layout.html' %}


{% block content %}

<h3>Students</h3>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
            <th scope="col">Course</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students_list %}
        <tr>
            <th scope="row">{{student.name}}</th>
            <td>{{student.email}}</td>
            <td>{{student.contact}}</td>
            <td>{{student.course}}</td>
            <td>
                <a href="{{url_for('editstudent', id=student._id)}}">Edit</a>
                <a href="{{url_for('deletestudent', id=student._id)}}">Delete</a>
            </td>

        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}